*{
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
header{
    padding: 20px;
    background-color: rgb(250, 195, 43);
    text-align: center;
}

nav{
    background-color: rgb(105, 102, 102);
    display: flex;
    flex-direction: row;
}
nav a{
    color: white;
    padding: 10px 15px;
    text-decoration: none;
}

body{
    background-color: rgba(255, 209, 5, 0.274);
}

.contenedor{
    margin: 5rem auto; 
    width: 50%;
    color: rgb(71, 66, 66);
    background-color: white;
    border-color: rgb(133, 133, 133);
    box-shadow: rgb(180, 179, 178);
    padding: 2rem;
    border-radius: 1rem;
    position: relative;
    height: 50vh;
    display: flex;
    row-gap: 1rem;   
    flex-flow: column;
}

[class*="item"]:{
    padding: .5rem;
    flex-basis: 1rem;
    flex-grow: 1;
    transition: .2s;
    box-shadow: .5rem 0 .5rem rgba(83, 83, 83, 0.3);
    position: relative;
    border-radius: .5rem 0 0 .5rem;
}

[class*="item"]:hover{
    flex-grow: 15;
    box-shadow: .5rem 0 .5rem rgba(104, 104, 104, 0.3);
    position: relative;
    border-radius: .5rem;
}

[class*="item"]:hover .hover-visible{
    flex-grow: 10;
    opacity: 1;
    
}

.hover-visible{
    width: 20rem;
    position: absolute;
    left: 3rem;
    opacity: 0;
    transition: .3s;
}

.main-nav{
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}

.nav__container{
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
}

.nav__item{
    text-decoration: none;
    list-style: none;
}
.item-1{
    overflow: hidden;
    background-color: rgb(247, 210, 0);
}
.item-2{
    background-color: rgb(255, 196, 0);
}

.item-3{
    background-color: rgb(187, 177, 38);
}

.item-4{
    background-color: rgb(248, 139, 37);
}

